.progress-bar .bar{
    -fx-background-insets: 0;
    -fx-padding: 5px;
    -fx-background-color: #3CB371;
}

.hboxToggleGroup{
    -fx-background-color: linear-gradient(to right , #0b8793, #eef9fb 45% , #0b8793);
}

.root{
    //-fx-background-color: linear-gradient(to bottom right, #eef9fb 50%,#19abd7);
    -fx-background-color: linear-gradient(to bottom, #eef9fb 50% , #0b8793);


}

.button{
        -fx-background-color: #00a2d3;
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-family: "Monospaced";

    -fx-font-size: 150%;
    -fx-pref-width: 100px;
    -fx-pref-height: 30;
    -fx-text-fill: #FFffff;
}
.button:hover{
    -fx-background-color:#32b4db;
}

.text-field{
     -fx-font-size: 110%;
     -fx-pref-height: 30;
 }

.forgotButton{
    -fx-font-size: 100%;
}